.git
.gitignore
.env
.env.*
!.env.example
.idea
.vscode
node_modules
vendor
*.log
.DS_Store
Thumbs.db
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
storage/logs/*
bootstrap/cache/*
!bootstrap/cache/.gitignore
tests/fixtures
*.md
!README.md
